doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Paleith
    link(rel="stylesheet" href="/cdn/css/tileEngine.css" type="text/css")

  body(style= bstyle)
    canvas#board
    script(src="/cdn/js/w/index.js" type="text/javascript" defer)